[Desktop Entry]
Name=Loja de Aplicativos (Flathub)
Comment=Explore e instale aplicativos Flatpak
Exec=brave-origin --app=https://flathub.org
Icon=package-x-generic
Terminal=false
Type=Application
Categories=System;PackageManager;
StartupNotify=true
